#title-area{
    margin:0 auto;
    display: block;
    line-height:96px;
    height: 96px;
    width: 30%;
    float: left;
}
#title{
    margin:0 auto;
    background-color: #4aaaa5;
    padding: 0px 40px 0px 40px;
    color: #ffffff; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    overflow: hidden;
    background-color: #ffffff; 
    border-bottom: 2px solid #cccccc;  
}
.wrap{
    width:960px;
    margin: 0 auto;

}
nav{
    margin:0 auto;
    line-height: 96px;
    height: 96px;
    width: 35%;
    float: right;
    background-color: #ffffff;
    

}
ul{
    margin:0 auto;
}
nav li{
    display: inline;
    
}
img{
    float: left;
    margin: 20px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
.subtitle{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-color: 2px solid #dddddd;

}
p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;

}